/*
 * Customization Variables
 * $accent: #FF0F00;  # red default #0095eb
 */

$accent: #0095eb;
$image-size: 150px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
